---
title: junkyart studio
date: git Last Modified
description: by amelia.
thumbnail: https://lochie154.github.io/assets/img/IMG_5965.jpeg
thumbnailAlt: ""
customStyle: false
customStyleSheet: false
bgImage: false
bgImageOpacity: false
dark: false
mainClass: false
---
{% include "head.liquid" %}

<body>

  {% if bgImage %}
  <div class="bg"></div>
  {% endif %}

  <div class="container">

    {{content}}

  </div>

</body>

</html>