---
layout: global
title: Now
customStyleSheet: now_style
dark: true
bgImage: https://s3.us-east-1.amazonaws.com/palomakop.tv/graphics/glitch_bg.jpg
bgImageOpacity: 0.7
---

<div class="mobile-column-container">
  <header>
    <h1>junkyart studio</h1>
    <p class="tagline">by amelia.</p>
    <ul class="social-logos">
      <li>
        <a href="https://instagram.com/junkyartstudio" target="_blank" rel="noopener">
          <img src="https://s3.us-east-1.amazonaws.com/palomakop.tv/now/logos/ig.svg">
        </a>
      </li>
    </ul>
  </header>

  <main>

    {{content}}

  </main>

  <footer>
    <p>
      this is now as updated {{page.date | date: "%b %e, %Y"}}.
    </p>
  </footer>


</div>
