<ul>
  <li>
    <a href="https://instagram.com/junkyartstudio" target="_blank" rel="noopener">instagram</a>
  </li>
  <li>
    <a href="https://www.pinterest.com/junkyartstudio" target="_blank" rel="noopener">pinterest</a>
  </li>
  <li>
    <a href="https://www.etsy.com/au/shop/junkyartco" target="_blank" rel="noopener">etsy</a>
  </li>
</ul>
