---
layout: default
customStyle: >
  :root {
    --main-bg-color:#dae6e1;
    --main-bg-gradient:radial-gradient(#c1e0ca,rgb(103, 110, 239),rgb(126, 131, 230));
  }
---

<div class="about-header">

  {% image "https://lochie154.github.io/assets/img/wallpaper-mine.png", "Image of amelia  in silhouette with video feedback patterns", 720, "" %}

  <div class="about-header-text">

    <h2>
      junkyart studio
    </h2>

    <!-- MORPHING TEXT -->

    <h3 id="morph-text">
      <span id="morphtext1">Multimedia Artist</span>
      <span id="morphtext2"></span>
    </h3>

    <script src="/js/textmorph.js"></script>

    <!-- END MORPHING TEXT -->


    <nav class="bold">

      <ul>
        <li>
          <div class="button"><a href="/now">now</a></div>
        </li>
        <li>
          <div class="button"><a href="/contact">contact</a></div>
        </li>
        <li>
          <div class="button"><a href="/newsletter">snailmail</a></div>
        </li> 
      </ul>
    
    </nav>
  </div>

</div>

<div class="about-text">

  <h2>
    <img src="https://lochie154.github.io/assets/img/jy_alt.png" class="about-title-graphic" alt=""/>
  </h2>
  <details>
    <summary>about</summary>
    <p>
      junkyart studio tells the stories of my few fragile braincells, trapped inside this late capitalistic hellscape.
    </p>
    <p>
      you’re reading a grimoire, painstakingly built by the hand of my endentured other. 
    </p>
    <p>
      if art falls in the woods, does it make a sound? as they tell me, such things should be shared.
    </p>
  </details>

</div>

{% comment %} 
<h2><img src="https://lochie154.github.io/assets/img/jy_alt.png" class="about-title-graphic" alt=""/> Artist Bio</h2>
{% endcomment %}

<div class="about-text">

  <h2>
    <img src="https://lochie154.github.io/assets/img/jy_alt.png" class="about-title-graphic" alt=""/>
  </h2>
  <details>
    <summary>explore this site</summary>
    <p>
    as alice herself intended.
    </p>
    <ul>
      <li>
        my blog page is <a href="/blog">here</a>. i blog about stuff.
      </li>
      <li>
        my Work page exists <a href="/Work">here</a>.
      </li>
      <li>
        my <a href="/now">now</a> page AKA the classifieds.
      </li>
      <li>
        my <a href="/newsletter">snailmail</a> page for free cable.
      </li>
    </ul>
  </details>

</div>

<div class="about-text">

  <h2>
    <img src="https://lochie154.github.io/assets/img/jy_alt.png" class="about-title-graphic" alt=""/> footprints
  </h2>

  <nav>

    {% include "socials.liquid" %}

  </nav>

</div>

<svg id="filters">
  <defs>
    <filter id="threshold">
      <feColorMatrix in="SourceGraphic"
          type="matrix"
          values="1 0 0 0 0
                  0 1 0 0 0
                  0 0 1 0 0
                  0 0 0 255 -100" />
    </filter>
  </defs>
</svg>
